<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Update Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (current='Update Password')"></nav>
<br>
<div class="container-fluid">
    <div th:if="${isSuccess}">
        <span style="color: green">Successfully Changed!</span>
    </div>
    <div th:if="${notSameBaru}">
        <span style="color: red">New password didn't match!</span>
    </div>
    <div th:if="${notSameLama}">
        <span style="color: red">Current password didn't match!</span>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Update Password</div>
                <div class="card-body">
                    <form th:action="@{/user/update-password}" method="POST">
                        <label>Password Lama</label>
                        <input type="password" name="passwordLama" class="form-control" />

                        <label>Password baru</label>
                        <input type="password" name="passwordBaru" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Must contain at least one number and one letter, and at least 8 or more characters" required>

                        <label>Konfirmasi Password baru</label>
                        <input type="password" name="konfirmasi" class="form-control" />

                        <br>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>