<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (current='View All Hotel')"></nav>
<h2>Daftar Seluruh Hotel:</h2>
<div th:if="${listHotel.size() > 0}">
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>ID Hotel</th>
            <th>Nama Hotel</th>
            <th>Alamat</th>
            <th>No Telepon</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel, iterationStatus : ${listHotel}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${hotel.id}"></td>
            <td th:text="${hotel.namaHotel}"></td>
            <td th:text="${hotel.alamat}"></td>
            <td th:text="${hotel.nomorTelepon}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/hotel/view?idHotel=}+${hotel.id}">Lihat</a>
                <a class="btn btn-warning" th:href="@{/hotel/change/}+${hotel.id}">Ubah</a>
                <a class="btn btn-danger" th:href="@{/hotel/delete/}+${hotel.id}">Hapus</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${listHotel.size() == 0}">
    <h2 th:text="'Tidak ada daftar hotel'"></h2>
</div>
</body>
</html>